@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); // IBM Plex Mono Regular

// Variables
$text-font: 'IBM Plex Mono', monospace;

$light-text-color: #3a3a3a;
$nav-background-color: #3a3a3a;
// Content variables
$content-background-color: #ffffff;
$border-color: #4c96d7;
$light-border-color: #5e9dd4;

// Breakpoints
$break-large: 1700px;
$break-medium: 950px;
$break-small: 510px;

// Global styles to make the styling better
* {
    box-sizing: border-box;
    margin: 0 auto;
}

*, *:before, *:after{
    box-sizing: inherit;
   }

// Import the partials
@import "partials/mixins";
@import "partials/background";
@import "partials/content";
@import "partials/header";
@import "partials/responsive-images";
@import "partials/light-font";
@import "partials/nav";
@import "partials/footer";
@import "partials/main-content";
@import "partials/home-page/banner-section";
@import "partials/home-page/reviews-section";
@import "partials/home-page/upgrades-section";
@import "partials/validation.scss";
@import "partials/forms";
@import "partials/vehicles-page/inventoryDisplay.scss";
@import "partials/classification";
@import "partials/vehicle-detail";
@import "partials/img-display";
@import "partials/thumbnail-image-display";
@import "partials/reviews";


