// Styles...
.content {
    background-color: $content-background-color;
    margin-top: 25px;
    overflow: hidden;
    

    // When the screen reaches medium size...
    @include breakpoint(medium) {
        width: 90%;
        border: 4px solid $border-color; // Give it a blue border
        border-radius: 25px; // Round the corners
        padding-bottom: .5em; // give it some padding
        max-width: 1200px; // Make sure it doesn't stretch past a certain point
        
    }
    
}

.content-grid {
    @include breakpoint(medium) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        gap: 10px;
    }
}

.content-title{
    margin-left: 10px;
}

p {
    font-family: $text-font;
}

.message {
    margin: 10px;
}

.message-link {
    margin-left: 10px;
}

