nav {
    min-height: 40px;
}

// Style the list in general
.nav-list {
    background-color: $nav-background-color;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none; // Get rid of the bullet points    
    width: 100%;
    max-height: 50px;
}

// Style each item in the list
.nav-list-item {
    float: left;
    padding: 14px 16px;
}

.nav-list a {
    color: $content-background-color !important;
    font-family: $text-font;
    text-decoration: none;
}

// Style each item in the list when the user hovers over
.nav-list-item:hover {
    cursor: pointer;
    background-color: $border-color;
    color: $nav-background-color;
    
}