.reviews-section {
    @include breakpoint(medium) {
        grid-column:  2 / 3;
        width: 90%;
    }
}

.reviews-section  h1 {
    margin-bottom: 10px;
}

.review {
    font-family: $text-font;
    margin-bottom: 10px;
}